<footer>
    <p>&copy; Matthew Setter.
        <a href="/impressum">Impressum</a>.
        <a href="/privacy-policy">Privacy Policy</a>.
        <a href="/terms-of-use">Terms of Use</a>.
        <a href="/disclaimer">Disclaimer</a>
    </p>
</footer>
